<a href="https://colab.research.google.com/github/vaa2114/capstone-project-2019/blob/master/vaa2114_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [19]:
N = 1000
delta = 1.

y0 = np.random.normal(size=N)
y1 = np.random.normal(delta, size=N)


deltas = y1 - y0

df = pd.DataFrame({'$Y^{(D=1)}$': y1,
                   '$Y^{(D=0)}$': y0,
                   '$\delta$': deltas })
df.head()

   $Y^{(D=1)}$  $Y^{(D=0)}$  $\delta$
0     1.874307    -0.258678  2.132985
1     0.242769    -1.874887  2.117657
2     1.201981    -0.504453  1.706435
3     2.370599     0.484012  1.886587
4     0.839026     0.390664  0.448362

In [0]:
df['$D$'] = np.random.binomial(1 , p=0.5, size=N)

In [30]:
df['$Y$'] = df['$D$'] * df['$Y^{(D=1)}$'] + \
(1. - df['$D$']) * df['$Y^{(D=0)}$']
            
df.sample(5)

     $Y^{(D=1)}$  $Y^{(D=0)}$  $\delta$  $D$       $Y$
16     -0.164672     1.000173 -1.164844    1 -0.164672
261     1.169190    -0.475214  1.644403    1  1.169190
583     0.555643     0.014580  0.541063    0  0.014580
393     1.705704     0.080494  1.625209    1  1.705704
325     0.412384     1.189149 -0.776765    0  1.189149

HW 1 (a) - Gaussian random with mean = 1

In [34]:
N = 1000
delta = 1.

y0 = np.random.normal(size=N)
y1 = np.random.normal(delta, size=N)


deltas = y1 - y0

df = pd.DataFrame({'$Y^{(D=1)}$': y1,
                   '$Y^{(D=0)}$': y0,
                   '$\delta$': deltas })
df.head()

   $Y^{(D=1)}$  $Y^{(D=0)}$  $\delta$
0     1.632642    -0.016060  1.648702
1     2.850250     0.417999  2.432251
2     0.761129     1.052514 -0.291385
3     0.821698    -0.601212  1.422910
4     1.048360     1.903079 -0.854720

In [0]:
mean = 1
sd = 0.1
df['$D$'] = np.random.normal(mean, sd , N)

In [38]:
df['$Y$'] = df['$D$'] * df['$Y^{(D=1)}$'] + \
(1. - df['$D$']) * df['$Y^{(D=0)}$']
            
df.sample(5)

     $Y^{(D=1)}$  $Y^{(D=0)}$  $\delta$       $D$       $Y$
801    -0.465152    -0.072859 -0.392294  1.007304 -0.468018
455     0.576756    -0.732507  1.309264  0.995576  0.570965
388     1.451822    -0.226397  1.678218  1.036272  1.512694
912     3.408092     0.482347  2.925745  1.112032  3.735870
773     2.112859    -1.921841  4.034700  0.927569  1.820623